/***Header***/
body {
	font-family: 'Intro Book';
	font-size: 18px;
}
h2 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	color: #7ac142;
}
h3 {
    max-width: 445px;
    font-size: 27px;
    font-weight: 300;
    line-height: 48px;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
    margin: 0 auto;
}
.wrapp-flex {
	display: flex;
}
/***Header***/
header {
	background: url(../images/bg-header.png) no-repeat center top;
	height: 939px;
	background-size: cover;
}
.header-right {
	background: url(../images/bg-header-right.png) no-repeat;
	height: 939px;
	width: 826px;
	text-align: center;
	padding-top: 70px;
}
.header-right span {
	color: #7ac142;
}
.header-right h3:after {
	content: '';
	display: block;
	width: 122px;
	height: 1px;
	background-color: #7ac142;
	margin: 20px 0;
}
.header-right h3:last-child:after {
	display: none;
}
.header-left {
	width: 1093px;
    text-align: right;
}
.header-left .main {
	margin-top: 70px;
	color:#fff;
	margin-right: 50px;
}
.menu-icon {
	background: url(../images/icon-menu.png) no-repeat;
	width: 27px;
	height: 19px;
	display: block;
	float: right;
	margin-left: 14px;
}
.menu-icon2 {
	background: url(../images/menu-icon1.png) no-repeat;
	width: 27px;
	height: 19px;
	display: block;
	float: right;
	margin-left: 14px;
}
.menu-icon3 {
	background: url(../images/menu-icon1.png) no-repeat;
	width: 27px;
	height: 19px;
	display: block;
	float: right;
	margin-right: 80px;
	margin-left: 14px;
}
.header-left ul{
	display: none;
	position: absolute;
	background-color: #000;
	width: 1084px;
	padding-top: 302px;
	padding-bottom: 570px;
	padding-left: 300px;
	text-align: left;
}
.header-left ul li {
	background-color: #000;
	margin-top: 30px;
	text-transform: uppercase;
	padding-top: 10px;
	border-bottom: 1px solid #7ac142;
	width: 400px;
	overflow: hidden;
}
.header-left ul li a{
	color: #fff;
}
.header-left ul li a:last-child {
	border-bottom: none;
}
.close {
	position: absolute;
	right: 104px;
	top: 104px;
	width: 32px;
	height: 32px;
	color: grey;
	cursor: pointer;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #fff;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
.close:active .nav {
	display: block; 
}
.header-content {
	max-width: 522px;
    float: right;
}
.header-content h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    color: #fffefe;
    text-align: left;
    margin-top: 120px;
    margin-left: 100px;
}
.header-content p {
    color: #fffefe;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 74px;
}
.frame-header {
	content: '';
	display: flex;
	width: 86px;
	height: 1px;
	background-color: #f5d769;
	justify-content: space-between;
}
.page {
	display: flex;
	align-items: center;
	padding-top: 780px;
	padding-left: 50px;
}
.mouse {
	display: block;
	background: url(../images/mouse.png) no-repeat;
	width: 23px;
	height: 36px;
	padding-left: 550px;
	color: #fff;
	position: relative;
}
.test:before {
	content: 'Тест';
}
.line {
	display: block;
	width: 100px;
	height: 3px;
	color: #fff;
}
.next, .prev {
	padding-left: 30px;
	color: #fff;
	position: relative;
}
.next:after {
	content: '';
	display: block;
	width: 31px;
	height: 1px;
	opacity: 0.55;
	background-color: #fff;
	position:absolute;
	left: -20px;
	top: 8px;
}
.prev:before {
	content: '';
	display: block;
	width: 31px;
	height: 1px;
	opacity: 0.55;
	background-color: #fff;
	position:absolute;
	right: -50px;
	top: 8px;
}
.header-content h1>span {
	color: #fff9ba;
}
header .wrapper {
	position: relative;
	overflow: hidden;
}
.header-content .frame {
	position: absolute;
	background: url(../images/frame.png) no-repeat;
	width: 313px;
	height: 192px;
	top: 190px;
	right: 108px;
	opacity: 0.5;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;

}
/***Description***/
.description {
	background: url(../images/description.png) no-repeat center top;
	height: 230px;
	background-size: cover;
}
.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 80px 0;
}
.logo-small {
	background: url(../images/logo-small.png) no-repeat;
	width: 92px;
	height: 65px;
}
.heading-bottom {
	display: flex;
	justify-content: center;
}
.green {
	max-width: 191px;
	color: #7ac142;
	font-size: 90px;
	font-weight: 300;
}
.black {
	color: #000000;
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 43px;
	margin-left: 15px;
}
.indent-left {
	margin-left: 50px;
}
.indent-right {
	margin-right: 50px;
	line-height: 83px;
}
section.our-company {
	background: url(../images/bg-company.png) no-repeat top center;
	height: 1000px;
}
.about-wrap {
	padding: 130px 0;
	display: flex;
	justify-content: center;
}
.about-company_content {
	margin-right: 10px;
	margin-left: 394px;
	position: relative;
}
.about-company_img {
	margin-right: 394px;
}
.about-company_content .frame {
	position: absolute;
	background: url(../images/frame.png) no-repeat;
	width: 313px;
	height: 192px;
	top: 20px;
	left: 84px;
	opacity: 0.5;
}
.about-company_content span {
	color: #27292a;
}
.about-company_content h2 {
	margin: 70px 0 104px;
}
.about-company_content p {
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	color: #646463;
}
.about-wrap-item {
	flex: 1;
	width: 50%;
}
.about-company_img img {
	display: inline-block;
	max-width: 100%;
}
/***Product***/
section.product {
	background: url(../images/bg-product.png) no-repeat top center;
	height: 940px;
	background-size: cover;
}
section.product .wrapper {
	position: relative;
}
.product-fon {
	background: url(../images/bg-product-black.png) no-repeat top center;
	height: 940px;
	width: 827px;
	opacity: 0.8;
}
.product-fon-box {
		padding: 70px 0 0 50px;
		position: relative;
}
.product-fon-box .frame {
	position: absolute;
    background: url(../images/frame.png) no-repeat;
    width: 313px;
    height: 192px;
    top: 212px;
    left: 191px;
    opacity: 0.5;
}
.product-fon-box h2 {
	padding: 120px 0 0 42px;
}
.product-fon-box span {
	color: #fff;
}
.product-fon-box p {
	padding: 110px 0 0 42px;
	max-width: 384px;
	color: #9b9c9f;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}
.product-fon-box p:after {
	content: '';
	display: block;
	width: 86px;
	height: 1px;
	background-color: #f5d769;
	margin-top: 40px;
}
.btn {
	max-width: 200px;
	height: 50px;
	color: #7ac142;
	background: #000;
	border-color: #7ac142;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 40px 0 0 42px;
	padding: 0 30px;
}
.btn:hover {
	background: rgba(0,0,0,0.5);
	opacity: 1;
}
.product .main {
	position: absolute;
	top: 50px;
	right: 10px;
}
.container {
	background: url(../images/bg-block2.png) no-repeat top center;
	max-width: 1212px;
	height: 610px;
	opacity: 0.9;
	position: absolute;
	top: 159px;
	left: 595px;
	right: 0;
	padding: 144px 0;
}
.container-block1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 28px;
}
.block3, .block2 {
	display: flex;
	align-items: flex-start;
}
.block3-icons {
	background: url(../images/icon.png) no-repeat;
	width: 48px;
	height: 48px;
}
.block3-text {
	margin-left: 5px;
	max-width: 424px;
}
.block3-text p.text-upper {
	color: #040404;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	margin-left: 5px;
}
.block3-text p {
	color: #5e5e5e;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin-left: 5px;
}
.block3-text p.text-upper:after {
	content: '';
	display: block;
	margin: 15px 0;
	width: 30px;
	height: 1px;
	background-color: #7ac142;
}
/***FOOTER***/
footer {
	background: url(../images/bg-footer1.png) no-repeat;
	height: 285px;
	background-size: cover;
}
footer .wrapper {
	
}
.footer-fon {
	background: url(../images/bg-footer.png) repeat-x;
	background-size: cover;
	width: 827px;
	padding: 92px 0;
}
.footer-logo {
	background: url(../images/footer-logo.png) no-repeat;
	width: 142px;
	height: 100px;
	margin: 0 auto;
}
.footer-content {
	display: flex;
	align-items: center;
	margin-left: 70px;
	position: relative;
}
.copyrighted p.desrc{
	text-decoration: none;
	margin-bottom: 10px;
}
.copyrighted p{
font-size: 14px;
font-weight: 300;
line-height: 24px;
color: #030303;
text-decoration: underline;
}
.contact {
	margin-left: 90px;
	margin-top: 14px;
}
.contact p {
font-size: 14px;
font-weight: 300;
line-height: 24px;
color: #030303;
}
.contact span.bar {
	margin: 0 15px ;
	color: #030303;
}
.contact p.metro:after {
	content: '';
	display: block;
	background: url(../images/circle-pink.png) no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 180px;
	left: 349px;
}
.contact p.metro:before {
	content: '';
	display: block;
	background: url(../images/circle-brown.png) no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
		top: 180px;
	right: 147px;
}
.contact span {
	color: #878787;
}
