@import url(reset.css);

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
input, 
input:active, 
input:focus {
    outline: none;
}
.wrapper {
	min-width: 1900px;
	height: auto;
	
}
header {
	background: url(../images/1_HEADER_bg.jpg) no-repeat center;	
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
         	background-size: cover;
         	max-width: 1900px;
         	height: auto;	
}

.content {
	text-align: center;
	margin: 0 auto;
}

.btn {
	width: 550px;
	height: 234px;
	background: url(../images/BTN_play_normal.png) no-repeat;
	border: none;
	cursor: pointer;
}
.btn:hover {
	background: url(../images/BTN_play_hover.png) no-repeat;
}
.btn:active {
	background: url(../images/BTN_play_active.png) no-repeat;
	border: none;
}
.header-text {
	font-size: 24px;
  font-family: "Lora";
  color: rgb(238, 238, 238);
  line-height: 1.5;
  text-align: center;
	max-width: 900px;
	margin: 0 auto;
 
}

.BTN_scroll {
	width: 102px;
	height: 66px;
	background: url(../images/BTN_scroll_normal.png) no-repeat;
	display: inline-block;
	margin-top: 90px;
	cursor: pointer;

}
.BTN_scroll:hover {
	background: url(../images/BTN_scroll_hover.png) no-repeat;
}
.BTN_scroll:active {
	background: url(../images/BTN_scroll_active.png) no-repeat;
}
.slaider_container {
	
}
.bg_Isolda {
	background: url(../images/CHARS/2_CHARS_bg_Isolda.jpg) no-repeat;
	height: 966px;
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
         	background-size: cover;
         	
}
.bg_Lleyn {
	background: url(../images/CHARS/2_CHARS_bg_Lleyn.jpg) no-repeat;
	height: 966px;
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
         	background-size: cover;
         	max-width: 100%;
}
.bg_Pamela {
	background: url(../images/CHARS/2_CHARS_bg_Pamela.jpg) no-repeat;
	height: 966px;
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
         	background-size: cover;
         	max-width: 100%;
}
#careplus-jumbotron {
	height: 960px;
}
.tyyt {
	max-width: 1660px;
	margin-left: 130px;
}
.left {
	
	margin-left: 350px;
	width: 442px;
	top: 100px;
	position: absolute;
	height: 1000px;
}
.slider_item img {
	max-width: 100%;
	height: auto;
}

.impare {
	margin-top: 20px;
}
.position-b {
	float: left;
	margin-left: 30px;
}
.pos {
	float: left;
	margin: 10px 0 0 25px;
	text-align: left;
	  font-size: 24px;
  font-family: "Lora";
  color: rgb(249, 244, 233);
  line-height: 0.5;
  z-index: 275;
}
.pos1 {
	font-size: 16px;
  font-family: "Lora";
  color: rgb(188, 190, 193);
  line-height: 2.25;
}
.pos2 {
	line-height: 1;
}
.chars_head {
		position: absolute;
	left: 740.731px;
  top: 7.698px;
}
p.header-text {
	margin: 15px 0 0 32px ;
	height: 100px;
	font-family: "Lora";
	text-align: left;
}
.impare-a {
	margin-top: 100px;
}
.impare-b {
	margin-top: 20px;
}
.right {
	position: absolute;
}
/*********Видео*********/
#video {
    max-width: 1920px;
    height: 1068.75px;	
    background-size: cover;
}
.header-text1 {
  font-size: 18px;
  font-family: "Lora";
  color: rgb(249, 244, 233);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 459.731px;
  top: 2827.698px;
  width: 1040px;
  height: 45px;
}
.video_head {
	position: absolute;
	left: 640.731px;
  top: 1987.698px;
}

.position-d-d {
		position: absolute;
	right: 620px;
}
#mount {
		background: url(../mount/4_MOUNT_bg.jpg) no-repeat center center;	
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
         	background-size: cover;
         	max-width: 1900px;
         	height: 1090px;	
}
.mount_head {
	position: absolute;
		left: 500.731px;
  top: 3027.698px;
}
.rang_one {
	position: absolute;
	left: 280.731px;
  top: 3557.698px;
}
#mount span {
	font-size: 24px;
  font-family: "Lora";
  color: rgb(255, 196, 25);
  line-height: 2.167;
  text-align: center;
  text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
  position: absolute;
  width: 168px;
  height: 82px;
  z-index: 392;

  left: 140px;

}
.rang_two {
	position: absolute;
	left: 1080.731px;
  top: 3557.698px;
}
.header-text2 {
	  font-size: 24px;
  font-family: "Lora";
  color: rgb(249, 244, 233);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 388.129px;
  top: 3744.597px;
  width: 1102px;
  height: 132px;
  z-index: 382;

}
/*****FOOTER*****/
footer {
	background: url(../footer/5_FOOTER_BG.jpg) no-repeat center center;	
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
         	background-size: cover;
         	max-width: 1900px;
         	height: 800px;
}
.footer_head {
		position: absolute;
		left: 500.731px;
  top: 4027.698px;
}
footer .btn2 {
	position: absolute;
	padding-top: 120px;
	left: 340.731px;
}
footer p.social_net {
  font-size: 24px;
  font-family: "Lora";
  color: rgb(249, 244, 233);
  line-height: 1.125;
  text-align: center;
  position: absolute;
  left: 710.392px;
  top: 4350.597px;
  width: 497px;
  height: 23px;
  z-index: 407;

}
footer .jom {
	padding-top: 400px;
	padding-left: 770px;
}
footer .social {
	display: block;
	width: 100px;
	height: 100px;
	float: left;
}
footer .social.fb {
	background: url(../footer/5_FOOTER_btn_fb_normal.png) no-repeat;
}
footer .social.vk {
	background: url(../footer/5_FOOTER_btn_vk_normal.png) no-repeat;
}
footer .social.ok {
	background: url(../footer/5_FOOTER_btn_ok_normal.png) no-repeat;
}
footer .social.mail {
	background: url(../footer/5_FOOTER_btn_mail_normal.png) no-repeat;
}
footer .social.fb:hover {
	background: url(../footer/5_FOOTER_btn_fb_hover.png) no-repeat;
}
footer .social.vk:hover {
	background: url(../footer/5_FOOTER_btn_vk_hover.png) no-repeat;
}
footer .social.ok:hover {
	background: url(../footer/5_FOOTER_btn_ok_hover.png) no-repeat;
}
footer .social.mail:hover {
	background: url(../footer/5_FOOTER_btn_mail_hover.png) no-repeat;
}
footer .social.fb:active {
	background: url(../footer/5_FOOTER_btn_fb_active.png) no-repeat;
	border: none;
}
footer .social.vk:active {
	background: url(../footer/5_FOOTER_btn_vk_active.png) no-repeat;
	border: none;
}
footer .social.ok:active {
	background: url(../footer/5_FOOTER_btn_ok_active.png) no-repeat;
	border: none;
}
footer .social.mail:active {
	background: url(../footer/5_FOOTER_btn_mail_active.png) no-repeat;
	border: none;
}
footer p.play {
	font-size: 14px;
  font-family: "Lora";
  color: rgba(181, 181, 181, 0.502);
  line-height: 1.489;
  text-align: center;
  position: absolute;
  left: 718.526px;
  top: 4534.95px;
  width: 482px;
  height: 14px;
  z-index: 444;

}
footer p.play span{
  font-size: 14px;
  font-family: "Lora";
  color: rgba(211, 211, 211, 0.502);
  text-decoration: underline;
  line-height: 1.489;
  z-index: 443;
}
footer .footer_logo {
	  position: absolute;
  left: 888.526px;
  top: 4634.95px;
}
.scroll_jumbot {
			position: absolute;
	  left: 888.526px;
  top: 1884.95px;
}
.scroll_video {
		position: absolute;
	  left: 888.526px;
  top: 2904.95px;
}
.scroll_foot {
	position: absolute;
	  left: 888.526px;
  top: 3934.95px;
}
.scroll {
	display: block;
	width: 102px;
	height: 66px;
	background: url(../images/BTN_scroll_normal.png) no-repeat;
}
